@(users: List[User], admin: User)
<html>
	<header>
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
		<script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.js")'></script>
		<script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
		<script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap-responsive.js")'></script>
		
		<script>
			// TODO: when no users, when no videos for a user
			
			var newDataRequest;
			
			function applyUserFilter() {
				// go through the select elements
				var selectObject=document.getElementById("usersListSelect");
				var pattern = new RegExp(".*" + document.getElementById("userFilterInput").value + ".*", "i");
				clearAllVideos();
				for (var i = 1; i < selectObject.length; i++){
					// if regexp matches, enables, else disables
					if (pattern.exec(selectObject[i].text) == null) {
						selectObject.options[i].setAttribute('style', 'display:none;');
					} else {
						selectObject.options[i].removeAttribute('style');
					}
				}
				document.getElementById("usersListSelect").selectedIndex = 0;
			}
			function clearUserFilter() {
				document.getElementById("userFilterInput").value = "";
				var selectObject=document.getElementById("usersListSelect");
				for (var i = 0; i < selectObject.length; i++){
					selectObject.options[i].removeAttribute('style');
				}
			}
 
			function displayErrorZone(errorMessage, id) {
				var zone = document.createElement("div");
				zone.setAttribute("class", "alert alert-danger fade in");
				zone.setAttribute("id", id);
				
				//zone.setAttribute("class", "alert alert-danger fade in");
				var button = document.createElement("button");
				zone.appendChild(button);
				button.setAttribute("aria-hidden", "true");
				button.setAttribute("data-dismiss", "alert");
				button.setAttribute("class", "close");
				button.setAttribute("type", "button");
				button.innerHTML="×";
				var h = document.createElement("h4");
				zone.appendChild(h);
				h.innerHTML = "Attention";
				
				zone.appendChild(errorMessage);
				var errorDiv = document.getElementById("errorDiv");
				errorDiv.appendChild(zone);
				console.log("Done erroring");
			}
			
			function changeUserSelect(index) {
				if (index > 0) {
					clearUserFilter();
					newDataRequest = $.ajax({url: "/rentals?userId=" + index + "&videoId=0"});						
					newDataRequest.done(function(data){
						console.log(data);
						// the user may already have videos checked out
						if (data['videos'] != null) {
							populateBorrowedVideos(data);
						} else {
							clearBorrowedVideos();
						}
					});
				} else {
					clearUserFilter();
					clearAllVideos();
				}
			}
			function clearBorrowedVideos() {
				var videos = document.getElementById("borrowedVideosDiv");
				console.log("Clearing video div");
				if (videos != null) {
				console.log("Found the borrowed video div");
					while (videos.firstChild != null) {
						  videos.removeChild(videos.firstChild);
					}
					videos.parentNode.removeChild(videos);
				}
			}
			function clearAllVideos() {
			console.log("Clearing all video");
				clearBorrowedVideos();
			}
			function populateBorrowedVideos(data) {
				clearBorrowedVideos();
				var text = document.createElement("div");
				var info = document.createElement("ul");

				info.innerHTML="Cet abonné a des vidéos non rendues";
				text.appendChild(info);
				for(var i = 0; i < data['videos'].length;++i) {
					var newP = document.createElement("li");
					var date = new Date(data['videos'][i]['rentalDate']);
					var newText = document.createTextNode(data['videos'][i]['id'] + " - " + data['videos'][i]['title'] + " (" + date.toLocaleDateString() + ")");
					newP.appendChild(newText);
					text.appendChild(newP);
				}
				displayErrorZone(text, "borrowedVideosDiv");
			}
			
			
			function addItem() {
				document.getElementById("videoSearchInput").value="";
				// get selected radio
				console.log("In add item");
				var modal = document.getElementById("modalBody");
				while (modal.firstChild != null) {
					radio = modal.firstChild;
					if (radio.type == "radio") {
						if (radio.checked) {
							break;
						}
					}	
					modal.removeChild(modal.firstChild);
				}
				console.log("Adding " + radio.id + " - " + radio.value);
				// Look for the same item already added
				// Add item with minus button
				while (modal.firstChild != null) {
					modal.removeChild(modal.firstChild);
				}
				addItemIfNotPresent(radio.id, radio.value);
			}
			
			function createSelectedVideo(id, title) {
			console.log("creating div");
				var div = document.createElement("div");
				var span = document.createElement("span");
				var input = document.createElement("button");
				div.setAttribute("class", "input-group");
				div.setAttribute("id", "vid"+id);
				div.setAttribute("value", id);
				span.setAttribute("class", "input-group-addon");
				input.setAttribute("type", "button");
				input.setAttribute("class", "btn btn-danger");
				input.setAttribute("onclick", "removeItem(\"" + id + "\");");
				input.innerHTML="&times;";
				var spantxt = document.createElement("span");
				spantxt.innerHTML=title;
				spantxt.value=id;
				spantxt.setAttribute("class", "input-group-addon");
				div.appendChild(span);
				div.appendChild(spantxt);
				
				span.appendChild(input);
				return div;
			}
			
			function removeItem(id) {
				var vid = document.getElementById("vid"+id);
				if (vid != null) {
					vid.parentNode.removeChild(vid);
				}
			}
			
			function addItemIfNotPresent(id, title) {
				var videos = document.getElementById("selectedVideos");
				var i = 0;
				for (; i < videos.children.length; ++i) {
					if (videos.children[i].id === "vid"+id) {
						console.log("Analyzing "+ videos.children[i].id + " against vid" + id); 
						break;
					}
				}
				if ((videos.children.length === undefined) || (i == videos.children.length)) {
					var vid = createSelectedVideo(id, title);
					videos.appendChild(vid);
				}
			}
			
			function buildModal(data) {
				var modal = document.getElementById("modalBody");
				
				while (modal.firstChild != null) {
					modal.removeChild(modal.firstChild);
				}
				if (data.length == 0) {
					document.getElementById("modalButtonOK").disabled = true;
					// No video found
					var p = document.createElement("div");
					p.setAttribute("class", "text-danger lead");
					p.innerHTML = "Aucune vidéo trouvée avec ce critère";
					modal.appendChild(p);
					
				} else {
					document.getElementById("modalButtonOK").disabled = false;
				}
				// Visible button
				
				
				for(var i = 0; i < data.length;++i) {
					var radio = document.createElement("input");

					if (i != 0) {
						var br = document.createElement("br");
						modal.appendChild(br);
					} else {
						radio.setAttribute("checked", "true");
					}					
					radio.setAttribute("type", "radio");
					radio.setAttribute("name", "chooseVid");
					radio.setAttribute("id",  data[i]['id']);
					radio.setAttribute("value",  data[i]['id'] + " - " + data[i]['inputTitle']);
					modal.appendChild(radio);
					var span = document.createElement("span");
					span.innerHTML = data[i]['id'] + " - " + data[i]['inputTitle']
					modal.appendChild(span);
				}
			}
			
			function searchVideoByTitleOrId() {
				var input = document.getElementById("videoSearchInput");
				newDataRequest = $.ajax({url: "/videobytitleorid?titleOrId=" + input.value});						
				newDataRequest.done(function(data){
					buildModal(data);
				});
			}
			
			function newSelectedVideo(id, title) {
				var newDiv = document.createElement("div");
				var newLabel = document.createElement("p");
				var newButton = document.createElement("button");
				newButton.innerHTML="-";
				newDiv.appendChild(newLabel);
				newDiv.appendChild(newButton);
				return newDiv;
			}

			function populateSelectedVideos(data) {
				clearSelectedVideos();
				var videos = document.getElementById("selectedVideos");
				for(var i = 0; i < data['videos'].length;++i) {
					var newLi = document.createElement("li");
					newLi.setAttribute("value", data['videos'][i]['id']);
					newLi.innerHTML = data['videos'][i]['id'] + " - " + data['videos'][i]['title'] + " (" + date.toLocaleDateString() + ")";
				}
				videos.appendChild();
			}
						
			
			function doCheckout() {
				// check which user
				var videos = document.getElementById("selectedVideos");
				var idx = document.getElementById("usersListSelect").selectedIndex;
				if ((idx == 0) || (videos.children.length == 0))
					return;	
				// Get list of all checkboxes checked
				var queryString = "?userId=" + document.getElementById("usersListSelect").children[idx].value+"&list=";
				for (var i = 0; i < videos.children.length; ++i) {
					if (i != 0) {
						queryString += ",";
					}
					queryString += videos.children[i].id.replace("vid", "");
				}
				console.log("query string " + queryString);
				window.location.href = "/doCheckout"+queryString;
			}				
			;
			</script>
	</header>
	<body>

			<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sélectionnez la vidéo</h4>
      </div>
	<form action="" >       
		<div class="modal-body" id="modalBody">


		</div>
      </form>		
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" id="modalButtonOK" class="btn btn-primary" data-dismiss="modal" onclick="addItem();">Ajouter</button>
      </div>
    </div>
  </div>
</div>
			
			


		<div class="panel panel-default">
	  	<div class="panel-heading">Emprunter des vidéos</div>
	  	
	  	
	  	
  		<div class="panel-body">
 		<!-- search zone -->
 			<div class="panel panel-primary">
 				<div class="panel-heading">Rechercher utilisateur</div>
 				<div class="panel-body">
	 				<div>
						<input type="text" id="userFilterInput" placeholder="Nom" label="Filter"></input>
						<button type="button" class ="btn btn-primary btn-sm" onclick="applyUserFilter()">Filtrer</button>
						<button type="button" class ="btn btn-warning btn-sm" onclick="clearUserFilter()">Effacer filtre</button>
					</div>
					<select id="usersListSelect" class="form-control" onchange="changeUserSelect(this.value);">
						<option value="">-- Selectionnez un utilisateur --</option>
						@for(u <- users) {
							<option value="@u.getId()">@u.getId() - @u.getFullName()</option>
						} 
					</select>
				</div>
			</div>
	
			<div class="panel panel-primary">
				<div class="panel-heading">Rechercher vidéo par...</div>
 				<div class="panel-body">
					<div id="videoSearchGroup">
						<input id="videoSearchInput" label="Identifiant Video" placeholder="Identifiant ou Titre"> </input>
						<button type="button" class="btn btn-info" onclick="searchVideoByTitleOrId();" data-toggle="modal" data-target="#myModal">Chercher par identifiant</button>

					</div>

				</div>
			</div>
			
			
			<div class="input-group col-lg-6" id="errorDiv">

				
			</div>

		
		<!-- form  -->
		<div class="form-horizontal panel panel-primary">
		<div class="panel-heading">Vidéos empruntées</div>
		<div class="panel-body">
		<div class="row">
			<!-- Elements of video (id, title) with a minus button -->
			<div class="input-group col-lg-8" id="selectedVideos">
				
			</div> <!-- /input-group -->
		</div> <!--  row -->
		
		</div>  <!-- panel body -->
		</div class="row">
			<div>
				<a href="/admin" class="btn btn-danger active" role="button">Annuler</a>
				<button type="button" class="btn btn-success" onclick="doCheckout();">Enregistrer</button>
			</div>
		</div> <!-- row -->
			
		</form>
		<p id="parag"></p>
	</body>
</html>