@(users: List[User], admin: User)
@main("Liste des vidéos", admin, "menuItemCheckin") {
<script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
<script>

			
			var newDataRequest;
			
			function applyFilter() {
				// go through the select elements
				var selectObject=document.getElementById("usersListSelect");
				var pattern = new RegExp(".*" + document.getElementById("nameFilterInput").value + ".*", "i");
				clearVideoSearch();
				for (var i = 1; i < selectObject.length; i++){
					// if regexp matches, enables, else disables
					if (pattern.exec(selectObject[i].text) == null) {
						selectObject.options[i].setAttribute('style', 'display:none;');
					} else {
						selectObject.options[i].removeAttribute('style');
					}
				}
				selectUserById(0);
			}
			function clearFilter() {
				document.getElementById("nameFilterInput").value = "";
				var selectObject=document.getElementById("usersListSelect");
				for (var i = 0; i < selectObject.length; i++){
					selectObject.options[i].removeAttribute('style');
				}
			}
 
			function clearVideoSearch() {
				document.getElementById("vidInput").value = "";
				document.getElementById("vidError").innerHTML="";
			}
			function changeUserSelect(index) {
				//*  */document.getElementById("parag").innerHTML=index;
				clearVideoSearch();
				if (index > 0) {
					clearFilter();
					newDataRequest = $.ajax({url: "/rentals?userId=" + index + "&videoId=0"});						
					newDataRequest.done(function(data){
						console.log(data);
						populateVideosSelect(data);
					});
				} else {
					clearFilter();
					clearVideoSearch();
					clearVideosSelect();
				}
			}
			
			function selectUserById(id) {
				var selectObject=document.getElementById("usersListSelect");
				var i;
				for (i = 1; (i < selectObject.length) && (selectObject.options[i].value != id); i++){}
				if (i != selectObject.length) {
					selectObject.selectedIndex = i; 
				} else {
					selectObject.selectedIndex = 0; 
				}
			}
			function changeVideoSelect(index) {
				
				if ((document.getElementById("vidInput").value == null) || (document.getElementById("vidInput").value === "")) {
					return;
				}
				clearFilter();
				clearVideosSelect();
				newDataRequest = $.ajax({url: "/rentals?userId=0&videoId=" + document.getElementById("vidInput").value});						
				newDataRequest.done(function(data){
					selectUserById(data['userId']);
					if (data['userId'] == null) {
						console.log("no user id found");
						document.getElementById("vidError").innerHTML="* Vidéo non sortie ou non trouvée";
						window.setTimeout("clearVideoSearch();", 5000);
					} else {
						populateVideosSelect(data);
					}
				});
			}
			function clearVideosSelect() {
				console.log("clearing videos select");
				var videos = document.getElementById("videosSelect");
				while (videos.firstChild) {
					  videos.removeChild(videos.firstChild);
					}
			}
			function populateVideosSelect(data) {
				console.log("not here");
				clearVideosSelect();				
				var videos = document.getElementById("videosSelect");
				for(var i = 0; i < data['videos'].length;++i) {
					
					var newDiv = document.createElement("div");
					newDiv.setAttribute("class", "input-group");
					var newSpan = document.createElement("span");
					newSpan.setAttribute('class', 'input-group-addon');
					var newSpanInput = document.createElement("input");
					newSpanInput.setAttribute("type", "checkbox");
					newSpanInput.value = data['videos'][i]['id'];
					var newInput = document.createElement("input");
					newInput.setAttribute("type", "text");
					newInput.setAttribute("class", "form-control");
					newInput.setAttribute("readonly", "true");
					newInput.setAttribute("placeholder", data['videos'][i]['id'] + " - " + data['videos'][i]['title']);
					newSpan.appendChild(newSpanInput);
					newDiv.appendChild(newSpan);
					newDiv.appendChild(newInput);
					videos.appendChild(newDiv);
				} 
			}
			function doCheckin() {
				// Get list of all checkboxes checked 
				var videos = document.getElementById("videosSelect");
				var queryString = null;
				console.log("Entering for "  + videos.childNodes.length);
				console.log("First child "  + videos.firstChild.firstChild.firstChild.value);
				for (var i = 0; i < videos.childNodes.length; ++i) {
					
					if (videos.childNodes[i].firstChild.firstChild.checked == true) {
						console.log("cb " + i + " is checked");
						if (queryString == null) {
							//console.log("init query string");
							queryString = "?list=" + videos.childNodes[i].firstChild.firstChild.value;
						} else {
							queryString = queryString + "," + videos.childNodes[i].firstChild.firstChild.value;
						}
					} else {
						console.log("cb " + i + " is not checked");
					}
				}
				console.log("query string " + queryString);
				window.location.href = "/doCheckin"+queryString;
			}
				
			;
			</script>
		<div class="panel panel-primary">
 			<div class="panel-heading">Retour vidéo</div>
 			<div class="panel-body">
 		

 		<!-- search zone -->
 		<div class="panel panel-default">
 			<div class="panel-heading">Rechercher par...</div>
 			<div class="panel-body">
 				<div>
					<input type="text" id="nameFilterInput" placeholder="Nom d'abonné" label="Filter"></input>
					<button type="button" class ="btn btn-primary btn-sm" onclick="applyFilter()">Filtrer</button>
					<button type="button" class ="btn btn-warning btn-sm" onclick="clearFilter()">Effacer filtre</button>
				</div>
				<select id="usersListSelect" class="form-control" onchange="changeUserSelect(this.value);">
					<option value="">-- Selectionnez un utilisateur --</option>
					@for(u <- users) {
						<option value="@u.getId()">@u.getId() - @u.getFullName()</option>
					} 
				</select>
				<div id="vidInputGroup">
					<input id="vidInput" label="Identifiant Video" placeholder="Identifiant video"> </input>
					<button type="button" class="btn btn-info" onclick="changeVideoSelect();">Retrouver utilisateur</button>
					<p class="text-danger" id="vidError"> </p>
				</div>

			</div>
 		</div>
 
		<!-- form  -->
		<form class="form-horizontal panel panel-default" role="form">
		<div class="panel panel-default">
		<div class="panel-heading">Vidéos à rendre</div>
		<div class="panel-body">
		<div class="row">
			<div class="input-group col-lg-6" id="videosSelect">
				
			</div> <!-- /input-group -->
		</div> <!--  row -->
		
		</div>  <!-- panel body -->
		<div>
			<div>
				<a href="/" class="btn btn-danger active" role="button">Annuler</a>
				<button type="button" class="btn btn-primary" onclick="doCheckin();">Enregistrer</button>
			</div>
		</div> 
		</div>	
		</form>
		</div>
		</div>
		<p id="parag"></p>
}