@(checkoutForm: Form[Videos.Checkout], userList: List[User], user: User)
@import helper.twitterBootstrap._

<html>
    <head>
        <title>Edition d'un utilisateur</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">        
        <script type="text/javascript" src='@routes.Assets.at("javascripts/sorttable.js")'></script>
    </head>
    <body>
        <header>
            <!-- If user connected, then display the admin header-->
            <!-- display filters: most recent, available only-->
            <a href="@routes.Application.index" id="logo"><span>VideoTruc</span>tasks</a>
            <dl id="user">
                <dt>@user.getName() <span>(@user.getEmail())</span></dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
        </header>
 <div class="control-group">       
 	@helper.form(action = routes.Videos.validateBorrow) {
		<div class="container">
			<h2 >Emprunt Vidéo</h2>	
			
	
			@helper.input(checkoutForm("id"), '_label -> "my label") { (id, name, value, args) =>
				<select name="@name" value="@value" id="@id" @toHtmlArgs(args)>@for(u <- userList){<option value="@u.getId()"> @u.getFullName()</option>}</select>	
			} 
					
			
         	<button type="submit" class="btn btn-primary">Enregistrer</button>
        	<button type="button" class="btn btn-danger" name="action" value="Cancel" onclick="window.location.href = '/users';">Annuler</button>
		</div>
	}       	        
</div> <!-- /container -->



    </body>
</html> 

  