@(listSize: Integer, admin: User)

@main("Liste des vidéos", admin, "menuItemHome") {
<script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
        <script>        
        	// Must be at least 3
        	var pageSize = 10;
        	var currentPage = 1;
        	var lastPage = Math.ceil(@listSize / pageSize); 
        
        	// Filters 
        	function setFilterOption(number) {
        		if (number != 0) {
        			document.getElementById("cbAll").checked = false;
        		} else {
        			// If we only unchecked "all", we have nothing to do 
        			if (document.getElementById("cbAll").checked == false) {
        				return;
        			}
        		}
        		switch(number) {
        		case 0:
        			// Tick all filters 
        			if (document.getElementById("cbAll").checked) {
        				document.getElementById("cbOld").checked = true;
        				document.getElementById("cbDVD").checked = true;
        				document.getElementById("cbBR").checked = true;
        				document.getElementById("cbPG").checked = true;
        				document.getElementById("cbAvail").checked = true;
					}
        			break;
        		case 2:
        			if (document.getElementById("cbDVD").checked == false) {
        				document.getElementById("cbBR").checked = true;
        			}
        			break;
        		case 3:
        			if (document.getElementById("cbBR").checked == false) {
						document.getElementById("cbDVD").checked = true;
        			}
        			break;
        		default:
        			break;
        		}
        		// Reload 
        		currentPage=1;
        		deleteTable();
        		populateTable();
        		updatePage();
        	}
        	function initFilters() {
        		document.getElementById("cbAll").checked = true;
        		document.getElementById("cbOld").checked = true;
				document.getElementById("cbDVD").checked = true;
				document.getElementById("cbBR").checked = true;
				document.getElementById("cbPG").checked = true;
				document.getElementById("cbAvail").checked = true;
				document.getElementById("inputTitleFilter").value = null;
        	}
 
        	function setFilterByName() {
        		currentPage=1;
        		deleteTable();
        		populateTable();
        		updatePage();
        	}
        	function resetFilter() {
        		if ((document.getElementById("inputTitleFilter").value == null) || (document.getElementById("inputTitleFilter").value == '')) 
        			return;
        		document.getElementById("inputTitleFilter").value = null;
        		setFilterByName();
        	}
        	// END Filters 
        	
			// Page number management        	
        	function setPagerSize(size) {
        		var oldId = "pagerSize" + pageSize;
        		document.getElementById(oldId).innerHTML = pageSize;
        		pageSize = size;
        		var newId = "pagerSize" + pageSize;
        		document.getElementById(newId).innerHTML = '<strong>' + pageSize + '</strong>'; 
        		currentPage = 1;

        		deleteTable();
        		populateTable();
        		updatePage();
        	}
        	// END Page number management
        	
			// Pager buttons 
       		function updatePage() {
        		if (lastPage < 1) lastPage = 1;
       			document.getElementById("pageNumberP").innerHTML=currentPage + " sur " + lastPage;
       		}
        	function pagerOnClickPage() {
        		updatePage();
        		deleteTable();
        		populateTable();
        	}
        	function onClickLeft() {
        		if (currentPage == 1)
        			return;
        		currentPage = currentPage - 1;
        		pagerOnClickPage();
        	}
        	function onClickRight() {
        		if (currentPage == lastPage)
        			return;
        		currentPage = currentPage + 1;
        		pagerOnClickPage();
        	}
        	// END Pager buttons 
        	// Table Management functions 
        	function deleteTable() {
        		var l = document.getElementById("listTable").rows.length; 
				for (var i = 1, row; i < l; i++) {
				 	document.getElementById("listTable").deleteRow(1);
				}
        	}
       
        	function populateTable() {
        		var filterString = "";
        		if (document.getElementById("cbOld").checked == false) {
        			// add new only filter 
        			filterString += "&old=false";
        		}
        		if (document.getElementById("cbDVD").checked == false) {
        			filterString += "&dvd=false";
        		}
        		if (document.getElementById("cbBR").checked == false) {
        			filterString += "&br=false";
        		}
        		if (document.getElementById("cbPG").checked == false) {
        			filterString += "&pg=false";
        		}
        		if (document.getElementById("cbAvail").checked == false) {
        			filterString += "&available=false";
        		}
        		if (document.getElementById("inputTitleFilter").value != '') {
        			filterString += "&nameFilter=" + document.getElementById("inputTitleFilter").value;
        		}
        		newDataRequest = $.ajax({url: "/videolist?pageNumber="+currentPage+"&pageSize=" + pageSize + filterString, async: false});
				newDataRequest.done(function(dataWithPage){
					lastPage = dataWithPage['pages'];
	        		updatePage();

					var data=dataWithPage['list'];
					var tableBody = document.getElementById("listTableBody");
					
					var img = null;
					var span = document.getElementById("noDataDiv");
					if (data.length == 0) {
						span.style.visibility="visible";
						return;
					}
					span.style.visibility="hidden";
					for (var i = 0; i < data.length; i++) {
						var tr = document.createElement('tr');
						var td;
						// Id 
						td = document.createElement('td');
						td.innerHTML=data[i]['id'];
						tr.appendChild(td);
						
						// Title 
						td = document.createElement('td');
						var a = document.createElement('a');
						a.setAttribute("data-toggle", "modal");
						a.setAttribute("data-target", "#movieModal");
						a.setAttribute("onclick", "showMovie(" + data[i]['id'] + ");");
						a.innerHTML=data[i]['inputTitle'];
						td.appendChild(a);
						tr.appendChild(td);
						
						
						// Original title 
						td = document.createElement('td');
						td.innerHTML=data[i]['originalTitle'];
						tr.appendChild(td);
						
						// Year  
						td = document.createElement('td');
						td.innerHTML=data[i]['year'];
						tr.appendChild(td);
						
						// Creation Date 
						td = document.createElement('td');
						var d = new Date(data[i]['creationDate']);
						//td.innerHTML=d.getUTCDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
						td.innerHTML=d.toLocaleDateString();
						tr.appendChild(td);
						
						// Support Type 
						td = document.createElement('td');
						img = document.createElement('img');
						img.setAttribute("height", "24px");
						img.setAttribute("width", "24px");
						td.setAttribute("align","center");
						if (data[i]['supportType'] === "DVD") {
							img.setAttribute("src", '@routes.Assets.at("images/dvd-black.png")');
						} else {
							img.setAttribute("src", '@routes.Assets.at("images/icon_blu-ray.png")');
						}
						td.appendChild(img);
						tr.appendChild(td);
						// Genre 
						td = document.createElement('td');
						td.innerHTML=data[i]['genres'];
						tr.appendChild(td);
						
						// Rating 
						td = document.createElement('td');
						td.innerHTML=data[i]['rating'];
						tr.appendChild(td);
						
						// PG 
						td = document.createElement('td');
						if (data[i].minimumAge != null)
							td.innerHTML='>' + data[i].minimumAge + ' ans';
						tr.appendChild(td);
						
						// Movie or TV 
						td = document.createElement('td');
						img = document.createElement('img');
						img.setAttribute("height", "24px");
						img.setAttribute("width", "24px");
						td.setAttribute("align","center");
						if (data[i]['contentType'] === "MOVIE") {
							img.setAttribute("src", '@routes.Assets.at("images/movie.png")');
						} else {
							img.setAttribute("src", '@routes.Assets.at("images/TV.png")');
						}
						td.appendChild(img);
						tr.appendChild(td);
						// Availability 
						td = document.createElement('td');
						img = document.createElement('img');
						img.setAttribute("height", "24px");
						img.setAttribute("width", "24px");
						td.setAttribute("align","center");
						if (data[i]['rentedTo'] == null) {
							img.setAttribute("src", '@routes.Assets.at("images/basic-tick.png")');
						} else {
							img.setAttribute("src", '@routes.Assets.at("images/cross.png")');
						}
						td.appendChild(img);
						tr.appendChild(td);
						// If logged in as admin, we've got privileges						
						@if(admin != null){
							// Edit button 
							td = document.createElement('td');
							var form = document.createElement('form');
							var button = document.createElement('button');
							button.setAttribute('class', 'btn btn-primary btn-sm');
							form.setAttribute('action', '/videoedit');
							button.setAttribute("value", data[i]['id']);
							button.setAttribute("name", "id")
							button.innerHTML="Edit";
							
							form.appendChild(button);
							td.appendChild(form);
							tr.appendChild(td);
						}

						tableBody.appendChild(tr);
					}
				});		
        	}
        	// END Table Management functions 
        	
        	function updateAttributeOrHide(fieldName, attribute, data, div) {
        		if (data != null && data != "") {
        			document.getElementById(fieldName).setAttribute(attribute, data);
        			document.getElementById(fieldName).hidden = false;
        			if (div == true) {
            			document.getElementById(fieldName + "Div").hidden = false;
            		} 
        		} else {
        			document.getElementById(fieldName).hidden = true;
        			if (div == true) {
            			document.getElementById(fieldName + "Div").hidden = true;
            		}
        		}
        		
        	}
        	function updateOrHide(fieldName, data, div) {
        		if (data != null && data != "") {
        			document.getElementById(fieldName).innerHTML = data;
        			document.getElementById(fieldName).hidden = false;
        			if (div == true) {
            			document.getElementById(fieldName + "Div").hidden = false;
            		} 
        		} else {
        			document.getElementById(fieldName).hidden = true;
        			if (div == true) {
            			document.getElementById(fieldName + "Div").hidden = true;
            		} 
        		}
        	
        	}
        	function runtimeInHHMM(data) {
        		return Math.floor(data / 60) + ":" + data % 60;
        	}
        	// Modal management
        	function showMovie(id) {
        		newDataRequest = $.ajax({url: "/videobyid?id="+id});
				newDataRequest.done(function(data){
					if (data["backdropPath"] == null) {
						
						document.getElementById("movieModalBackDrop").setAttribute("src", '@routes.Assets.at("images/backdrop_placeholder.png")');	
					} else {
						document.getElementById("movieModalBackDrop").setAttribute("src", data["picturePath"] + data["backdropPath"]);
					}
					
					document.getElementById("movieModalTitle").innerHTML = data["inputTitle"] + " (" + data["year"] + ")";
					
					updateOrHide("movieModalOriginalTitle", data["originalTitle"], true);
					updateOrHide("movieModalTagline", data["tagline"], true);
					if (data["posterPath"] == null) {
						document.getElementById("movieModalPoster").setAttribute("src", '@routes.Assets.at("images/poster_placeholder.png")');
					} else {
						document.getElementById("movieModalPoster").setAttribute("src", data["picturePath"] + data["posterPath"]);
					}
					if ((data["summary"] == null) || (data["summary"] === "")) {
						document.getElementById("movieModalSummary").innerHTML = "Pas de résumé disponible";
					} else {
						document.getElementById("movieModalSummary").innerHTML = data["summary"];
					}
					
					
					updateOrHide("movieModalRating", data["rating"], false);
					
					updateOrHide("movieModalRuntime", (data["runtime"] == "")?"":runtimeInHHMM(data["runtime"]), false);
					
					updateOrHide("movieModalYear", data["year"], false);
					updateOrHide("movieModalGenres", data["genres"], true);
					updateOrHide("movieModalPG", data["minimumAge"]);
					document.getElementById("movieModalPG").innerHTML += ' ans';
				});			
        	}
        	
        	function onLoad() {
        		initFilters();
        		populateTable();
        		updatePage();
        	}
        	; 
        </script>

<!-- Modal -->
<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
      		<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	    	<h4 class="modal-title" id="movieModalTitle"></h4>
			</div>
			<div class="modal-body" id="movieModalBody">
				<div class="row well well-sm" id="movieModalTaglineDiv">
					<div class="col-lg-12">
						<h4 id="movieModalTagline" class="text-justify"></h4>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-lg-10" style="align=center;">
								<img id="movieModalBackDrop">
							</div>	
						</div>
					</div>
				</div>
				<div class="row" id="movieModalOriginalTitleDiv">
					<div class="panel panel-default">
						<div class="panel-body">
							<h4>
								<div class="col-lg-4">
									<label for="movieModalOriginalTitle">Titre original: </label>
								</div>
								<div class="col-lg-8">
									<p id="movieModalOriginalTitle"></p>
								</div>
							</h4>
						</div>
					</div>
				</div>
				<div class="row well" id="movieModalGenresDiv">
					<div class="col-lg-2">
						<label for="movieModalGenres">Genres: </label>
					</div>
					<div class="col-lg-10">
						<p id="movieModalGenres" class="text-justify"></p>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-lg-6">
						<a class="thumbnail">
							<img id="movieModalPoster">
						</a>
					</div>
					<div class="col-lg-6  well">
						<p id="movieModalSummary" class="text-justify" placeholder="Pas d'information"></p>
					</div>
				</div>
				<div class="row panel panel-default">
					<div class="panel-body">
						<div class="col-lg-2">
							<label for="movieModalRating">Note</label>
							<button id="movieModalRating" class="active"></button>
						</div>
						
						<div class="col-lg-2">
							<label for="movieModalRuntime">Durée  </label>
								<button id="movieModalRuntime" class="active"></button>
						</div>
						<div class="col-lg-2"></div>
						<div class="col-lg-2">
							<label for="movieModalYear">Sortie</label>
							<button id="movieModalYear" class="active"></button>
						</div>
						<div class="col-lg-1"></div>
						<div class="col-lg-3">
							<label for="movieModalPG">A partir de</label>
							<button id="movieModalPG" class="active"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div> <!--  end modal -->





       <!-- Filters bar -->
        <div class="panel panel-info">
          <div class="panel-heading">Filtres</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-2">
                <!-- Single button -->
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Afficher <span class="caret"></span>

                </button>
                <ul class="dropdown-menu" role="menu" >
                	<div style="margin-left:6px;">
					<li role="presentation">
						<input type="checkbox" id="cbAll" onclick="setFilterOption(0);"> <span> Tout</span>
					</li>
					<li role="presentation" class="divider"></li>
					<li role="presentation">
						<input type="checkbox" id="cbOld" onclick="setFilterOption(1);"> <span> Anciennes</span>
					</li>
					<li role="presentation">
						<input type="checkbox" id="cbDVD" onclick="setFilterOption(2);"> <span> DVD</span>
					</li>
                  	<li role="presentation">
						<input type="checkbox" id="cbBR" onclick="setFilterOption(3);"> <span> Blu-Ray</span>
					</li>
					<li role="presentation">
						<input type="checkbox" id="cbPG" onclick="setFilterOption(4);"> <span> Pas pour enfants</span>
					</li>
					<li role="presentation">
						<input type="checkbox" id="cbAvail" onclick="setFilterOption(5);"> <span> Indisponibles</span>
					</li>
					</div>
                </ul>
              </div>
              <!-- /.col-lg-3 -->
              <div class="col-lg-4">
                <div class="input-group">
                  <input type="text" class="form-control" id="inputTitleFilter" placeholder="Chercher un mot dans le titre">	<span class="input-group-btn"><button class="btn btn-default" type="button" onclick="setFilterByName();">Filtrer!</button></span>

                </div>
                <!-- /input-group -->
              </div>
              <!-- /.col-lg-3 -->
              <div class="col-lg-2">
                <!-- Single button -->
                <button type="button" class="btn btn-warning" onclick="resetFilter();">Reset</button>
              </div>
              <!-- /.col-lg-3 -->
              <!-- Placeholder -->
              <div class="col-lg-2"></div>
              <div class="col-lg-1">
                <!-- Single button -->
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Résultats par page <span class="caret"></span>

                </button>
                <ul class="dropdown-menu" id="pagerSizeID" role="menu">
                  <li>
                    <a id="pagerSize10" onclick="setPagerSize('10');">10</a>
                  </li>
                  <li>
                    <a id="pagerSize25" onclick="setPagerSize('25');">25</a>
                  </li>
                  <li>
                    <a id="pagerSize50" onclick="setPagerSize('50');">50</a>
                  </li>
                  <li>
                    <a id="pagerSize100" onclick="setPagerSize('100');">100</a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-1 -->
            </div>
            <!-- row -->
          </div>
        </div>
        <!-- /Filters bar -->
        <!-- Movie list table -->
        <div class="panel panel-primary">
			<div class="panel-heading">Liste des vidéos</div>
			<div class="panel-body">
			<div><p class="text-info">
				<i><strong>Pour plus d'informations sur un film, cliquez sur son titre</strong></i><br>
              </p>
			</div>
            <div id="listTableDiv">
				<div id="noDataDiv">
					<p class="text text-danger">Aucune vidéo trouvée</p>
				</div>
              <table id="listTable" class="table table-striped table-bordered">
                <tbody id="listTableBody">
                  <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Titre original</th>
                    <th>Année</th>
                    <th>Ajoutée</th>
                    <th>DVD</th>
                    <th>Genre</th>
                    <th>Note</th>
                    <th>Age min<i>(*)</i></th>
                    <th>TV/Film</th>
                    <th>Dispo</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>
              <ul class="pager" id="pager">
                <li class="previous">
                  <a type="button" id="pagerLeft" onclick="onClickLeft();">←Précédente</a>
                </li>
                <li class="disabled" id="pageNumberP"></li>
                <li class="next">
                  <a type="button" id="pagerRight" onclick="onClickRight();">Suivante →</a>
                </li>
              </ul>
            </div>
            <div class="panel-footer">
              <p class="text-info">
				<i>(*) information donnée à titre indicatif seulement</i>
              </p>
            </div>
			@if(admin != null){
			<form action="videoedit" method="get" style="margin: 0px; padding: 0px;">
				<button class="btn btn-primary" type="submit" name="id" value="0">Ajouter une vidéo</button>
			</form>
			}
		</div>
        <!-- /Movie list table -->


}

	<script>
	onLoad();
	</script> 