@(title: String, admin: User)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">        
        
        <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.js")'></script>
        
        
        
<!-- <script type="text/javascript" src='@routes.Assets.at("javascripts/css3-mediaqueries.js")'></script>  -->  		
        
    </head>
    <body>
    	<header>
			
    	</header>
    	<div class="navbar navbar-default">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav navbar-nav navbar-left">
						<li><img class="navbar-btn" src='@routes.Assets.at("images/film_roll 40px.png")' alt="Smiley face" height="32px"></li>
						<li><p class="navbar-text"><big style="color: #F5b000;"><strong>Orange Labs Vidéo Club</strong></big></p></li>
					</ul>
					@if(admin != null) {
					<ul class="nav navbar-nav navbar-right">
						<li><p class="navbar-text">Bienvenue @admin.getFirstName() <span>(@admin.getEmail())</span></p></li>
						<li><a class="btn btn-primary navbar-btn btn-sm" href="@routes.Application.logout()">Se déconnecter</a></li>
      				</ul>
      				}
				</div>
   			</div>
		</div>
		<div class="container">
        	@content
        </div>
    </body>
</html>
