@(title: String, admin: User, activeItem: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">        
        
        <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.js")'></script>
<!-- <script type="text/javascript" src='@routes.Assets.at("javascripts/css3-mediaqueries.js")'></script>  -->  		
        
    </head>
    <body onload="onLoadMenu();">
    	<header>
	    <script>
    	    function onLoadMenu() {
    	    	var id = '@activeItem';
    	    	document.getElementById(id).setAttribute("class","active");
    	    }
		</script>
			
    	</header>
    	<div class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
      				<a class="navbar-brand">Orange Vidéo Club</a>
    			</div>
    	
    	    <div class="collapse navbar-collapse" id="navbar-collapse">
					@if(admin != null) {
					<ul class="nav navbar-nav">
						<li id="menuItemHome"><a href="/">Accueil</a></li>
						<li id="menuItemUsers"><a href="/users">Gestion des abonnés</a></li>
						<li id="menuItemCheckin"><a href="/checkin">Retour vidéo</a></li>
						<li id="menuItemCheckout"><a href="/checkout">Emprunt vidéo</a></li>
						<li id="menuItemLateRentals"><a href="/laterentals">Prêts en retard</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><p class="navbar-text">Bienvenue @admin.getFirstName() <span>(@admin.getEmail())</span></p></li>
						<li><a href="@routes.Application.logout()">Se déconnecter</a></li>
      				</ul>
      				}
				</div>
   			</div>
		</div>
		<div class="container">
        	@content
        </div>
    </body>
</html>
