@(users: List[User], admin: User)


		
@main("Gestion des utilisateurs", admin, "menuItemUsers") {	


<div class="panel panel-primary">
	<div class="panel-heading">Abonnés</div>
	<div class="panel-body">
        


		<table class="table table-striped table-bordered sortable">
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Email</th>
				<th>Status</th>
				<th>Date d'ajout</th>
				<th>Date de dernière modification</th>
				<th>Admin</th>
			</tr>
			@for(u <- users) {
			<tr>
				<!-- if we're logged in, we need to be able to edit the movie -->
				<td>@u.getId()</td>
				<td>@u.getFullName()</td>
				<td>@u.getEmail()</td>
				<td align="center">
					@if(u.getStatus() == User.StatusType.ACTIVE) {
						<img src="@routes.Assets.at("images/basic-tick.png")" alt="Admin" height="24" width="32">
					}else{
						<img src="@routes.Assets.at("images/cross.png")" alt="Admin" height="24" width="32">
					}
				</td> 
				<td>@u.getCreationDate()</td>
				<td>@u.getUpdateDate()</td>
				<td align = "center">
					@if(u.isAdmin()) {
						<img src="@routes.Assets.at("images/Director.png")" alt="Admin" height="24" width="24"> 
					}
				</td>
				<td>
					<form action="/useredit" method="get" style="margin: 0px; padding: 0px;">  						
  						<button class="btn btn-xs btn-primary" type="submit" name="id" value="@u.getId()">Edit</button>
					</form> 
				</td>
		    </tr>
        	}	
        </table>
        <form action="/useredit" method="get" style="margin: 0px; padding: 0px;">
			<button class="btn btn-primary" type="submit" name="id" value="0">Ajouter un utilisateur</button>
		</form>
	</div>
</div>
		
}
