@(listSize: Integer, admin: User)
<html>
    <head>
        <title>Login</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">        
        <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.js")'></script>

        <script>        
        	// Must be at least 3
        	var pageSize = 4;
        	var currentPage = 1;
        	var lastPage = Math.ceil(@listSize / pageSize); 
        
        	function onClickLeft() {
        		if (currentPage == 1)
        			return;
        		currentPage = currentPage - 1;
        		pagerOnClickPage();
        	}
        	function onClickRight() {
        		if (currentPage == lastPage)
        			return;
        		currentPage = currentPage + 1;
        		pagerOnClickPage();
        	}
       		function updatePage() {
       			document.getElementById("pageNumberP").innerHTML=currentPage + " sur " + lastPage;
       		}
        	function pagerOnClickPage() {
        		updatePage();
        		deleteTable();
        		populateTable();
        	}
        	function deleteTable() {
        		var l = document.getElementById("listTable").rows.length; 
				for (var i = 1, row; i < l; i++) {
				 	document.getElementById("listTable").deleteRow(1);
				}
        	}
        	function populateTable() {
        		newDataRequest = $.ajax({url: "/videolist?pageNumber="+currentPage+"&pageSize=" + pageSize});						
				newDataRequest.done(function(data){
					var tableBody = document.getElementById("listTableBody"); 
					for (var i = 0; i < data.length; i++) {
						console.log("Populating table loop " + i);
						var tr = document.createElement('tr');
						var td;
						td = document.createElement('td');
						td.innerHTML=data[i]['id'];
						tr.appendChild(td);
						td = document.createElement('td');
						td.innerHTML=data[i]['inputTitle'];
						tr.appendChild(td);
						td = document.createElement('td');
						var d = new Date(data[i]['creationDate']);
						//td.innerHTML=d.getUTCDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear();
						td.innerHTML=d.toLocaleDateString();
						tr.appendChild(td);
						td = document.createElement('td');
						if (data[i]['supportType'] === "DVD") {
							td.innerHTML='DVD';
						} else {
							td.innerHTML='Blu-Ray';
						}
						tr.appendChild(td);
						td = document.createElement('td');
						if (data[i]['contentType'] === "MOVIE") {
							td.innerHTML='Film';
						} else {
							td.innerHTML='Série';
						}
						tr.appendChild(td);
						// Availability
						td = document.createElement('td');
						if (data[i]['rentedTo'] == null) {
							td.innerHTML='Disponible';
						} else {
							td.innerHTML='Sorti';
						}
						tr.appendChild(td);
						// Edit button
						td = document.createElement('td');
						var button = document.createElement('a');
						button.setAttribute('class', 'btn btn-primary btn-sm');
						button.setAttribute('href', '/videoedit/' + data[i]['id']);
						button.innerHTML="Edit";
						td.appendChild(button);
						tr.appendChild(td);
						
						//[{"id":14,"supportType":"DVD","contentType":"MOVIE","movieId":"10191","inputTitle":"Dragons","creationDate":1401867399497,"updateDate":1401867399497,"rentalDate":null,"rentedTo":null,"state":"OK"},
						tableBody.appendChild(tr);
					}			
					
				});		
        	}
        	function onLoad() {
        		updatePage();
        		populateTable();
        	}
        	; 
        </script>
        
        
    </head>
	<body onload="onLoad()">
        <header>
            <!-- If user connected, then display the admin header-->
            <!-- display filters: most recent, available only-->
        </header>
    <div id="mainContainer" class="container">
	<div class="panel panel-default">
  	<div class="panel-heading">Liste des vidéos</div>
  	<div class="panel-body">
    
	<div>
	<table id="listTable" class="table table-striped table-bordered">
	<tbody id="listTableBody">	
		<tr>
			<th>ID</th>
			<th>Titre</th>
			<th>Date d'ajout</th>
			<th>Support</th>
			<th>TV/Film</th>
			<th>Disponibilité</th>
        </tr>
    </tbody>
	</table>
	</div>
	<div>
	<ul class="pager" id="pager">
  		<li class="previous" ><a type="button" onclick="onClickLeft();" id="pagerLeft">&larr;Précédente</a></li>
  		<li class="disabled" id="pageNumberP"></li>
  		<li class="next"><a type="button" onclick="onClickRight();" id="pagerRight">Suivante &rarr;</a></li>
	</ul>
	</div>
	
	<form action="videoedit/0" method="get" style="margin: 0px; padding: 0px;">
		<button class="btn btn-primary" type="submit">Ajouter une vidéo</button>
		<button type="button" class="btn btn-danger" name="action" value="Cancel" onclick="window.location.href = '/admin';">Retour</button>
	</form>
	</div>
    </div> <!-- /container -->
    
    </body>
</html> 