@(videoForm: Form[Video], user: User, admin: User)
@import helper.twitterBootstrap._

@main("Edition d'une vidéo", admin, "menuItemHome") {
<script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
    <script>
    
    function clearModal() {
				var modal = document.getElementById("titlesModalBody");
				while (modal.firstChild != null) {
					modal.removeChild(modal.firstChild);
				}
	}
	function buildModal(data) {
		var modal = document.getElementById("titlesModalBody");
		clearModal();
		if (data.length == 0) {
			document.getElementById("modalButtonOK").disabled = true;
			// No video found
			var p = document.createElement("div");
			p.setAttribute("class", "text-danger lead");
			p.innerHTML = "Aucune vidéo trouvée avec ce critère";
			modal.appendChild(p);
					
		} else {
			document.getElementById("modalButtonOK").disabled = false;
		}
		// Visible button 
		
		
		for(var i = 0; i < data.length;++i) {
			var radio = document.createElement("input");
			if (i != 0) {
				var br = document.createElement("br");
				modal.appendChild(br);
			} else {
				radio.setAttribute("checked", "true");
			}					
			radio.setAttribute("type", "radio");
			radio.setAttribute("name", "chooseVid");
			radio.setAttribute("id",  data[i]['id']);
			radio.setAttribute("value",  data[i]['id']);
			
			modal.appendChild(radio);
			var label = document.createElement("label");
			label.setAttribute("for",  data[i]['id']);
			//label.textContent = "  " + data[i]['title'] + "(" + data[i]['id'] + ")";
			label.textContent = "  " + data[i]['title'] + " (" + new Date(data[i]['release_date']).getFullYear() + ")";
			modal.appendChild(label);
		}
	}
	
	function queryTmdb() {
   		var title = document.getElementById("inputTitle").value;
   		if (title == null) {
   			return;
   		}
   		// query ajax for movie titles		
		newDataRequest = $.ajax({url: "/tmdbSearch?title=" + title + "&type=" + document.getElementById("contentType").value, async: false});
		newDataRequest.success(function(data){
			buildModal(data['results']);
		});
   	}
	function assignTmdbId() {
		document.getElementById("movieId").value = $('input[name=chooseVid]:checked', '#titlesForm').val();
	}
	
	function updatePoster() {
		document.getElementById("poster").src = "http://image.tmdb.org/t/p/w500" + document.getElementById("posterPath").value; 
	}
	function updateSummary() {
		document.getElementById("summaryP").innerHTML = document.getElementById("summary").value;
	}
	function getGenresString(data) {
		var string = "";
		for(var i = 0; i < data.length;++i) {
			if (string != "") {
				string += ", ";
			}
			string += data[i]['name'];
		}
		return string;
	}
	function updateTmdbInfo() {
		var id = document.getElementById("movieId");
		if (id == null)
			return;
		newDataRequest = $.ajax({url: "/tmdbId?id=" + id.value + "&type=" + document.getElementById("contentType").value, async: false});
		newDataRequest.success(function(data){
			var type = document.getElementById("contentType").value;
			var date = null;
			var field = "";
			if (type === "TV") {
				date = new Date(data["first_air_date"]);
			} else {
				date = new Date(data["release_date"]);
			}
			document.getElementById("rating").value = data["vote_average"];
			document.getElementById("posterPath").value = data["poster_path"];
			document.getElementById("backdropPath").value = data["backdrop_path"];
			document.getElementById("year").value = date.getFullYear();
			if (data["overview"] != null && data["overview"] != "") {
				document.getElementById("summary").value = data["overview"];	
			}
			if (type === "TV") {
				field = "original_name";
			} else {
				field = "original_title";
			}
			if (data[field] != null && data[field] != "") {
				document.getElementById("originalTitle").value = data[field];	
			}
			if (type === "TV") {
				document.getElementById("runtime").value = data["episode_run_time"]["0"];
			} else {
				document.getElementById("runtime").value = data["runtime"];
			}
			if (data["tagline"] != null && data["tagline"] != "") {
				document.getElementById("tagline").value = data["tagline"];	
			}
			document.getElementById("genres").value = getGenresString(data['genres']);
			updatePoster();
			updateSummary();
		});
	}

;
    </script>
    
<!-- Modal -->
<div class="modal fade" id="titlesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
      		<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	    	<h4 class="modal-title" id="myModalLabel">Sélectionnez le titre correspondant</h4>
			</div>
			<form id="titlesForm" action="" >       
				<div class="modal-body" id="titlesModalBody"></div>
			</form>		
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
				<button type="button" id="modalButtonOK" class="btn btn-primary" data-dismiss="modal" onclick="assignTmdbId();">Mettre à jour</button>
			</div>
		</div>
	</div>
</div> <!--  end modal -->
    
    <div class="panel panel-primary">
          <div class="panel-heading">Edition Vidéo</div>
          <div class="panel-body">
          
          
	@helper.form(action = routes.Videos.validateVideo()) {
			
            @if(videoForm.hasGlobalErrors){
				<p class="error">
            		@videoForm.globalError.message
        		</p>
    		}
           
			<div class="row">
				<div class="col-lg-12">
           			@helper.inputText(videoForm("id"), '_label -> "ID", '_showConstraints -> false, 'readonly -> true, 'class -> "form-control")
           		</div>
           	</div>
           	<div class="row">
				<div class="col-lg-12">
           			@helper.inputText(videoForm("inputTitle"), '_label -> "Titre", '_showConstraints -> false, 'class -> "form-control", '_id -> "inputTitleId")
           		</div>
           	</div>
           	<div class="row">
           		<div class="col-lg-12">
					@helper.inputDate(videoForm("creationDate"), '_label -> "Date de création", 'readonly -> true, '_showConstraints -> false, 'class -> "date form-control")
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
   		        	@helper.inputDate(videoForm("updateDate"), '_label -> "Date de dernière mise à jour", 'readonly -> true, '_showConstraints -> false, 'class -> "date form-control")
   		     	</div>
        	</div>
        	@if(user != null) {
        		<div class="row " id="rentedToDiv">
					<div class="col-lg-12">
						<p class="text-center text-danger"><big>Vidéo sortie par @user.getFullName()</big></p>
        	 		</div>
        		</div>
        	}
        	<div class="row">
				<div class="col-lg-3">
     	   			@helper.select(videoForm("supportType"), options = Seq("DVD"->"DVD", "BLURAY"->"Blu-Ray"), '_label -> "Type de support", '_showConstraints -> false)
        		</div>
        		<div class="col-lg-3">
        			@helper.select(videoForm("contentType"), options = Seq("UNKNOWN"-> "Inconnu", "TV"->"TV", "MOVIE"->"Film"), '_label -> "TV/Film", '_showConstraints -> false)
        		</div>
        		<div class="col-lg-3">
        			@helper.select(videoForm("state"), options = Seq("OK"->"OK", "LOST"->"Perdu", "BROKEN" -> "Déterioré"), '_label -> "Etat", '_showConstraints -> false)
        		</div>
        		<div class="col-lg-3">
           			@helper.inputText(videoForm("minimumAge"), '_label -> "Age minimum ", '_showConstraints -> false, 'class -> "form-control")
				</div>
			</div> <!--  row -->
			<div class="well well-lg">
  			<div class="row">
  				<div class="col-lg-2">
    			@helper.inputText(videoForm("movieId"), '_label-> "themoviedb.org ID", '_showConstraints -> false, 'readonly -> true,  'class -> "form-input")
    			</div>
    			<div class="col-lg-2">
    				<label>
    				</label>
    				<div>
	    			<button class="btn btn-primary" data-toggle="modal" data-target="#titlesModal" onclick="queryTmdb();">
		  				Trouver le film sur tmdb
					</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					@helper.inputText(videoForm("tagline"), '_label -> "Tagline", '_showConstraints -> false, 'class -> "form-control")
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10">
					@helper.inputText(videoForm("genres"), '_label -> "Genres", '_showConstraints -> false, 'class -> "form-control")
				</div>
			</div>
			<div class="row">
  				<div class="col-lg-2">
   		   			@helper.inputText(videoForm("rating"), '_label -> "Note TMDB", 'readonly -> true, '_showConstraints -> false, 'class -> "form-control")
   		   		</div>
   		   		
   				<div class="col-lg-4">
   					@helper.inputText(videoForm("originalTitle"), '_label -> "Titre original", '_showConstraints -> false, 'class -> "form-control", '_id -> "inputTitleId")
   				</div>
   				<div class="col-lg-2">
   					@helper.inputText(videoForm("year"), '_label -> "Année", '_showConstraints -> false, 'class -> "form-control")
   				</div>
   				<div class="col-lg-2">
   					@helper.inputText(videoForm("runtime"), '_label -> "Durée", 'readonly -> true, '_showConstraints -> false, 'class -> "form-control")
				</div>
   				<div class="col-lg-2">
   					<label for="btnUpdateTmdb">
					</label>
					<div>
   					<button type="button" id="btnUpdateTmdb" class="btn btn-primary" onclick="updateTmdbInfo();">
		  				Mettre à jour
					</button>
					</div>
   				</div>
   			</div>
			<div class="row">
				<div class="col-xs-6 col-md-3">
    			<a class="thumbnail">
					<img id="poster">
    			</a>	
  				</div>
				<div class="col-lg-6">
					<p id="summaryP" class="text-justify">					
					</p>
					@helper.input(videoForm("summary"), '_label -> "") { (id, name, value, args) =>
						<input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
					} 
				</div>
			</div>
			</div>
			<div hidden>
				@helper.input(videoForm("posterPath")) { (id, name, value, args) =>
					<input  name="@name" id="@id" value="@value" @toHtmlArgs(args)>
				} 
				@helper.input(videoForm("backdropPath")) { (id, name, value, args) =>
					<input name="@name" id="@id" value="@value" @toHtmlArgs(args)>
				}
				
			</div>
			<a type="button" class="btn btn-danger" name="action" value="Cancel" href="/";">Annuler</a>
        	<button type="submit" class="btn btn-primary" name="action" value="OK">Terminé</button>
        	
	}
	</div>
	</div>

	<script>
		updatePoster();
		updateSummary();
	</script>
}
  